.gameCard-con {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.gameCard {
  // background: rgb(77, 77, 77);
  border-radius: 15px;
  padding: 10px;
  width: 320px;
  margin: 15px;
  background: linear-gradient(
    85deg,
    rgba(77, 77, 77, 1) 0%,
    rgba(34, 34, 34, 1) 80%
  );
  // -webkit-box-shadow: 0px 0px 10px 8px #1d1c1c;
  // -moz-box-shadow: 0px 0px 10px 8px #202020;
  // box-shadow: 0px 0px 10px 8px #1f1e1e;
}

.gameCard:hover {
  cursor: pointer;
  background: rgb(77, 77, 77);
  transition: 0.3s ease-in;
}

.gameLink {
  text-decoration: none;
  color: #cf5300;
}

.gameLocation {
  font-size: 25px;
}
.gameCity {
  color: darkgray;
}
