.detail-wrapper {
}
.detailCon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.detailCard {
  background: rgb(77, 77, 77);
  padding: 40px;
  margin-top: 60px;
  border-radius: 20px;
  width: 35vw;
  margin-bottom: 20px;
}

.detailLocation {
  color: #cf5300;
  font-size: 40px;
  border-bottom: 1px solid whitesmoke;
}

.detailContent-con {
  display: flex;
  flex-direction: column;
  line-height: 30px;
}

.detailTitle {
  color: #cf5300;
  font-size: 20px;
}
.detail-con {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
}
.detail {
  font-size: 20px;
  padding-left: 10px;
  //   color: whitesmoke;
}
.gameAction {
  background-color: #cf5300;
  margin-left: 5px;
  padding: 10px;
  border-radius: 10px;
  border-style: none;
  width: 150px;
  text-align: center;
  cursor: pointer;
  font-size: 25px;
}

.gameAction:hover {
  background-color: rgb(53, 52, 52);
}

.overlay {
  background: rgba(204, 204, 204, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 100;
}
