.standings-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: blue;
  height: 100vh;
}
.table-con {
  background-color: aquamarine;
  width: 100%;
  height: 100vh;
}

table {
  width: 100%;
}

th,
td {
  border: 1px solid red;
  text-align: left;
  padding: 8px;
}

.toggle-btn {
  background-color: orange;
  border-radius: 5px;
  gap: 20px;
  border-style: none;
  font-size: 30px;
  font-weight: 900;
}

.toggle-btn-con {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
