.standings-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: blue;
  height: 100vh;
}

.table-con {
  background-color: wheat;
  width: 60vw;
  /* padding: 20px; */
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border-bottom: 1px solid red;
  text-align: left;
  padding: 8px;
  font-size: 25px;
}

th {
  background-color: burlywood;
  /* font-size: 30px; */
}

.toggle-btn {
  background-color: orange;
  border-radius: 5px;
  border-style: none;
  font-size: 30px;
  font-weight: 900;
  padding: 5px 15px;
}

.toggle-btn-con {
  display: flex;
  gap: 20px;
  padding: 20px;
}
