.search-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.search-bar {
  /* margin-top: 40px; */
  font-size: 35px;
  border-radius: 10px;
  outline: none;
  border-style: none;
  font-weight: 900;
  width: 30vw;
  padding-left: 60px;
}
.search-bar-ctn {
  position: relative;
}

.create-btn {
  font-size: 30px;
  padding: 8px 10px;
  background-color: #cf5300;
  border-radius: 5px;
  border-style: none;
  margin-bottom: 30px;
}

.search-icon {
  position: absolute;
  top: -2px;
  left: 2px;
  font-size: 50px;
  color: #cf5300;
}
