.homePageHeader {
  color: whitesmoke;
  text-align: left;
  /* width: 440px; */
  width: 40vw;
  padding: 40px;
  margin-left: 40px;
}

.homeTitle {
  font-size: 80px;
}

.welcomeMsg {
  font-size: 20px;
}
