.signup-con {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  height: 100vh;
}
.signup-title {
  font-size: 40px;
}

.signup-input-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: rgba(3, 3, 3, 0.856);
  margin-top: 70px;
  padding: 60px;

  -webkit-box-shadow: 0px 0px 38px 18px #1d1c1c;
  -moz-box-shadow: 0px 0px 38px 18px #202020;
  box-shadow: 0px 0px 38px 18px #1f1e1e;
}

.signup-input {
  margin-bottom: 15px;
  height: 40px;
  width: 310px;
  border-radius: 6px;
  border-style: none;
  outline: none;
  font-size: 25px;
  opacity: 100%;
  color: #cf5300;
  padding-left: 50px;
}

.signup-btn {
  font-size: 29px;
  padding: 7px;
  width: 170px;
  border-radius: 10px;
  border-style: none;
  color: #cf5300;
  margin-bottom: 15px;
}

.signup-btn:hover {
  background-color: #cf5300;
  color: black;
  cursor: pointer;
  transition: all 0.6s ease;
}

.signup-input-ctn {
  position: relative;
  margin-bottom: 10px;
}

.signup-icon {
  position: absolute;
  color: #cf5300;
  top: 6px;
  left: 10px;
  font-size: 30px;
}
