* {
  font-family: FontAwesome;
}

.signup-con {
  display: flex;
  align-items: center;
  /* justify-content: center; */

  flex-direction: column;
  background: pink;
  height: 100vh;
}
.signup-title {
  font-size: 40px;
}

.signup-input-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: red;
  width: 55vw;
  height: 70vh;
  border-radius: 20px;
}

.signup-input {
  margin-bottom: 15px;
  height: 40px;
  width: 310px;
  border-radius: 6px;
  border-style: none;
  outline: none;
  font-size: 25px;
}

.signup-btn {
  font-size: 29px;
  padding: 7px;
  width: 170px;
  border-radius: 10px;
  border-style: none;
}

.signup-btn:hover {
  background-color: blue;
  cursor: pointer;
}

.signup-error {
  color: #fff;
  font-size: 12px;
  text-align: left;
}
