.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(88, 87, 87);
  padding: 20px;
}

.nav-title {
  font-size: 30px;
  color: #cf5300;
}

.hamburger {
  font-size: 30px;
  cursor: pointer;
}

.nav-login-btn {
  background-color: black;
  color: #cf5300;
  border-radius: 5px;
  border-style: none;
  font-size: 30px;
  padding: 5px;
  margin-right: 20px;
}

.nav-login-btn:hover {
  cursor: pointer;
  background-color: wheat;
  color: black;
}
