.navWrapper {
  z-index: 100;
  position: fixed;
  width: 100%;
  top: 0;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: linear-gradient(
    0deg,
    rgba(97, 97, 97, 1) 0%,
    rgba(69, 68, 68, 1) 100%,
    rgba(106, 106, 106, 1) 100%
  );
}

.navTitle {
  font-size: 30px;
  color: #cf5300;
}

.hamburger {
  font-size: 30px;
  cursor: pointer;
}

.cross {
  font-size: 30px;
  color: #cf5300;
  cursor: pointer;
}

.navLogin-btn {
  background-color: black;
  color: #cf5300;
  border-radius: 5px;
  border-style: none;
  font-size: 30px;
  cursor: pointer;
  /* padding: 5px; */
  /* margin-right: 20px; */
}
.navLogin-btn:hover {
  background-color: #cf5300;
  color: black;
}

.profile-icon {
  font-size: 40px;
  cursor: pointer;
}

.profile-icon:hover {
  color: #cf5300;
}

.navLogout-btn {
  background-color: black;
  color: #cf5300;
  border-radius: 5px;
  border-style: none;
  font-size: 30px;
  cursor: pointer;
}

.loggedIn-ctn {
  display: flex;
  gap: 20px;
}
