.side-bar {
  background: -webkit-linear-gradient(222deg, #454545 0%, #131613 80%);
  background: -o-linear-gradient(222deg, #454545 0%, #131613 80%);
  background: -moz-linear-gradient(222deg, #454545 0%, #131613 80%);
  background: linear-gradient(222deg, #454545 0%, #131613 80%);
  width: 23%;
  position: absolute;
  height: 100vh;
}

.nav-links {
  font-size: 30px;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30%;
}

.nav-link {
  display: flex;
  justify-content: center;
  color: whitesmoke;
  text-decoration: none;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  width: 100%;
}

.nav-link:hover {
  color: #cf5300;
}

.show {
  display: block;
}

.hide {
  display: none;
}
.social-con {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}
.social-icon {
  color: #cf5300;
  font-size: 35px;
}
.social-icon:hover {
  color: whitesmoke;
}
.side-bar {
  -webkit-animation: side-bar-tl 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation: side-bar-tl 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@-webkit-keyframes side-bar-tl {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1;
  }
}
@keyframes side-bar-tl {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1;
  }
}
