.search-con {
  display: flex;
  justify-content: center;
}

.search-bar {
  margin-top: 40px;
  font-size: 35px;
  border-radius: 10px;
  outline: none;
  border-style: none;
  font-weight: 900;
  padding: 10px;
}
